* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
  }
  
  .barra {
    position: fixed;
    background-color:#4E94AB;
    width: 150px;
    height: 150%;
    overflow: auto;
    text-align: center;
    justify-content: center;
  }
  
  a {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    background-color: rgba(0, 0, 0,0.3);
    color: white;
  }
  
  .contenido {
    background-color: cadetblue;
    margin-left: 150px;
    padding: 1px 16px;
    height: 1500px;
    color: white;
    
  }
  
  .contenidoOpcion { display: none; }
  
  #inicio:target,
  #cpu:target,
  #ram:target,
  #gpu:target,
  #mb:target,
  #hdd:target,
  #psu:target,
  #io:target { 
    display: block; 
    text-align: center;
    font-size: 15pt;
  }
  
  
  .MenuOculto {
      width: 0px;

  }

  .ContenidoMargen {
      margin-left: 0px;
  }

  
  @media screen and (max-width: 1200px) {
    div.barra {
      position: relative;
      width: 100%;
      height: auto;
      
    }
  
    .barra a {float: left;}
  
    div.contenido {margin-top: 0;} 

    
  }
  
  @media screen and (max-width: 685px) {
    .barra a {
      float: none;
      text-align: center;
    }
    
  }